body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.nav-item {
	padding: 15px 16px;
	font-size: 19px;
    color: #fff;
  }

.nav-item a{
    color: #fff;
  }

.nav-title{
	padding: 20px;
	font-style: medium;
	font-weight: 400;
	font-size: 24px;
}

@media (max-width: 768px) {
	.navbar-nav {
	  padding-top: 20px;
	}
	.nav-item {
	  font-size: 20px;
	  padding: 10px 0;
      margin-left: 15px;
	}
	.nav-title{
		padding: 10px;
		font-family: 'Montserrat';
		font-style: medium;
		font-weight: 400;
		font-size: 20px;
	}
  }

.container{
    margin-top: 10px;
    max-width: 900px;
    text-align: center;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.marks{
    margin-top: 100px;
}

.question-container {
    margin-left: 60px;
    text-align: left;
}

@media (max-width: 768px) {
    .question-container {
        margin-left: 10px;
        text-align: left;
    }
}


.marks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#true-count{
    margin-top: 5px;
    color: #28a745;
}

#false-count {
    margin-top: 5px;
    color: #ff0000;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #060606;
    color: #fff;
    border: none;
    border-color: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* login-page/Sign-up-page */

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
	background-color: #2f2f2f;
    background-position: right;
    background-size: 500px 500px;   
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px  );
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ffffff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
}
.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;

}
.forget label a:hover{
    text-decoration: underline;

}
.btn-login{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
	color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register P a:hover{
    text-decoration: underline;

}
.form-sign-up{
	padding: 50px;
	background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px  );
}

@media (max-width: 768px) {
	.login-section{
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80vh;
		width: 100%;
		background-color: #2f2f2f;
		background-position: right;
		background-size: 400px 300px;   
	}
	.form-sign-up{
		padding: 12px;
		background: transparent;
		border: 2px solid rgba(255,255,255,0.5);
		border-radius: 20px;
		backdrop-filter: blur(15px  );
	}
	
}